@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.eot");
  src: url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot");
  src: url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.eot");
  src: url("../fonts/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.ttf") format("truetype"), url("../fonts/Inter-ExtraBold.svg#Inter-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IconsFont";
  src: url("../fonts/IconsFont.eot");
  src: url("../fonts/IconsFont.eot?#iefix") format("eot"), url("../fonts/IconsFont.woff2") format("woff2"), url("../fonts/IconsFont.woff") format("woff"), url("../fonts/IconsFont.ttf") format("truetype"), url("../fonts/IconsFont.svg#IconsFont") format("svg");
}
.icon-plus:before {
  font-family: "IconsFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-plus:before {
  content: "\e001";
}

.btn {
  padding: 0;
}

.btn-warning {
  font-weight: bold;
  font-size: 1.25rem;
  color: #1F211E;
  background: linear-gradient(-180deg, #FFC635 0%, #FD8D0B 99.48%);
  border-radius: 0.625rem;
  border: none;
  padding: 0.875rem;
  text-decoration: none;
}

.btn-link {
  font-weight: 400;
  font-size: 0.75rem;
  color: #FD9C15;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.btn-block {
  display: block;
  width: 100%;
}

body {
  background-color: #1F211E;
  margin: 0;
  font-family: " Inter", sans-serif;
}

.container {
  max-width: 720px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.text-white {
  color: #FFFFFF;
}

.text-warning {
  color: #FD9C15;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}

.px-4 {
  padding: 0 1.25rem;
}

.px-3 {
  padding: 0 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  color: #CFCFCF;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-weight: bold;
  font-size: 1.625rem;
  color: #FFFFFF;
  margin-bottom: 0;
}

.text-description {
  font-size: 0.688rem;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
.text-description a {
  font-size: 0.688rem;
}

html {
  font-size: 16px;
}

.navbar .navbar-nav {
  padding-right: 0;
  position: relative;
  z-index: 1;
  list-style-type: none;
}
.navbar .navbar-brand-img {
  width: 3.125rem;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}
.main .banner {
  position: relative;
  height: 140vw;
}
@media (min-width: 576px) {
  .main .banner {
    height: 98vw;
  }
}
@media (min-width: 768px) {
  .main .banner {
    height: 740px;
  }
}
@media (min-width: 992px) {
  .main .banner {
    height: 480px;
  }
}
@media (min-width: 1200px) {
  .main .banner {
    height: 580px;
  }
}
.main .banner .banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
@media (min-width: 576px) {
  .main .banner .banner-bg {
    object-fit: contain;
  }
}
.main .banner .banner-circle {
  background-image: url("../img/banner-circle.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main .banner .banner-circle .banner-value {
  font-weight: bold;
  font-size: 0.625rem;
  color: #1F211E;
  padding-top: 1rem;
}
.main .banner .banner-shadow {
  background: linear-gradient(-179.65deg, rgba(31, 33, 30, 0) 0.3%, #1F211E 67.27%);
  width: 100%;
  height: 280px;
  position: absolute;
  bottom: 0;
}
.main .banner .banner-shadow .banner-text {
  position: absolute;
  bottom: 2.5rem;
}
.main .hero {
  padding-bottom: 2rem;
}
.main .footer {
  margin-top: auto;
}
.main .footer .list-inline {
  display: flex;
  justify-content: center;
  padding-right: 0;
}
.main .footer .list-inline .list-inline-item {
  list-style-type: none;
  padding: 0 12px;
  border-left: 1px solid #464646;
  padding-bottom: 0.25rem;
}
.main .footer .list-inline .list-inline-item .btn-link {
  font-weight: 400;
  font-size: 0.75rem;
  color: #FD9C15;
}
.main .footer .list-inline .list-inline-item:last-child {
  border-left: none;
}
.main .footer .list-inline .list-inline-item.border-right:last-child {
  border-left: 1px solid #464646;
}