// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$green: #31C27D;
$gold: #FD9C15;
$grey: #CFCFCF;
$light-grey: #F0F0F0;
$black-70: #464646;
$black: #1F211E;
