.btn {
    padding: 0;
}

.btn-warning {
    font-weight: bold;
    font-size: 1.25rem;
    color: $black;
    background: linear-gradient(180deg, #FFC635 0%, #FD8D0B 99.48%);
    border-radius: .625rem;
    border: none;
    padding: .875rem;
    text-decoration: none;
}

.btn-link {
    font-weight: 400;
    font-size: .75rem;
    color: $gold;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.btn-block {
    display: block;
    width: 100%;
}
